body {
  background-color: #131316;
}

.center-left {
  background-color: aliceblue;
  position: absolute;
  top: 20rem;
  left: 30rem;
  padding: 5rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.center-right {
  background-color: azure;
  position: absolute;
  top: 20rem;
  right: 30rem;
  padding: 5rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.center-left:hover {
  background-color: #131316;
  color: whitesmoke;
  border: solid 1px;
  border-color: whitesmoke;
  cursor: pointer;
}
.center-right:hover {
  background-color: #131316;
  color: whitesmoke;
  border: solid 1px;
  border-color: whitesmoke;
  cursor: pointer;
}
